.main{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main .container {
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
}
.main .container .h1 {
  font-size: 100px;
}
.main .container .h2{
  color: #c2932ee3;
  font-size: 25px;
}
.main .container .button{
  border: none;
  border-radius: 10px;
  color: #1A2238;
  font-weight: bold;
  background: #c2932ee3;
  width: 200px;
  height: 40px;
  transition: 0.3s;
}
.main .container .button:hover{
  transition: 0.3s;
  cursor: pointer;
  width: 210px;
  height: 50px;
}