.main {
  width: 100%;
  height: 100%;
  display: flex;           
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  text-align: center;
  background: linear-gradient(180deg, #1A2238 0%, #0B0E1A 100%);
  color: #A0AEC0
}
.main .h2{
    font-size: 50px;
    color: #c2932ee3;
    margin-bottom: 2%;
}